@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-stone-900 font-space subpixel-antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-dm font-bold text-stone-800 dark:text-stone-100;
  }
  p, span, li, small {
    @apply font-dm dark:text-stone-400;
  }
  p {
    @apply text-stone-800 dark:text-stone-300;
  }
  li {
    @apply text-stone-700 dark:text-stone-300;
  }
  small {
    @apply text-stone-500 dark:text-stone-400/90;
  }
  h1 {
    @apply tracking-tighter font-[900] md:text-6xl text-5xl;
  }
  h2 {
    @apply tracking-tighter font-[900] md:text-5xl text-4xl;
  }
  h3 {
    @apply tracking-tight md:text-4xl text-3xl text-stone-800 dark:text-stone-50 ;
  }
  h4 {
    @apply tracking-tight md:text-3xl text-2xl text-stone-800/90 dark:text-stone-100/75;
  }
  h5 {
    @apply md:text-2xl text-xl text-stone-800 dark:text-stone-50 ;
  }
  h6 {
    @apply md:text-xl text-lg;
  }
}

@layer components {
  .centered {
    @apply flex items-center justify-center;
  }
  .default-p-x {
    @apply lg:px-[20%] md:px-36 p-3;
  }
  .side-panel {
    @apply pb-6 px-6 md:w-1/5 md:screen-h w-full overflow-y-scroll no-scrollbar md:bg-gradient-to-b bg-gradient-to-t from-transparent to-stone-100 dark:to-stone-600 border-r-[1px] border-dashed border-stone-300 dark:border-stone-800;
  }
  .tabable {
    @apply outline-none active:ring-2 focus:ring-2 ring-accent-700;
  }
  .hoverable {
    @apply outline-none hover:ring-2 ring-accent-700;
  }
  .cta {
    @apply mt-6 p-2 centered w-1/2 h-full bg-accent-500 dark:bg-accent-50 transition hover:bg-accent-10 focus:bg-accent-10 active:bg-accent-10 outline-none;
  }
  .project-sh {
    @apply text-xl font-medium;
  }
  .cta-btn {
    @apply shadow-lg shadow-black/30 p-1 md:h-12 h-10 rounded-full centered transition border-[2px] border-stone-800/75 hover:border-stone-600 dark:border-stone-300 dark:hover:border-stone-200;
  }
  .pretty-inp {
    @apply mt-1 h-12 w-full centered p-2 rounded-sm bg-stone-100 border-2 border-stone-200 font-space text-stone-900 ; 
  }
  .error-msg {
    @apply animate-shake my-2 text-red-500 text-sm first-letter:capitalize after:content-["."];
  }
  .footer-link {
    @apply text-stone-300/75 text-sm hover:text-white focus:text-white active:text-white;
  }
  .exp-item {
    @apply mb-3;
  }
  .project-category {
    @apply mb-4;
  }
}

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .screen-h {
    height: calc(100vh - 120px);
    /* height: calc(100vh); */
  }
  .min-screen-h {
    min-height: calc(100vh - 120px);
    /* min-height: calc(100vh); */
  }
  .nav-h {
    height: 110px;
  }
  .no-drag {
    user-select: none;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari and older versions of Chrome */
    -ms-user-select: none; /* Internet Explorer/Edge */
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  z-index: 1;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  transition: 200ms;
  scroll-behavior: smooth;
}
